boto3
bs4
celery
celery[redis]
colorlog
coverage
flake8
future
matplotlib
mock
numpy
pandas
pep8
pycodestyle
pylint
recommonmark
redis>=3.2.0
seaborn
sphinx
sphinx-autobuild
sphinx_rtd_theme
spylunking
tabulate
trading_calendars
unittest2
urllib3
ujson
vprof
