boto3
bs4
celery
celery[redis]
colorlog
coverage
flake8<=3.4.1
future
matplotlib
mock
numpy<=1.14
pandas
pep8>=1.7.1
pinance
pycodestyle<=2.3.1
pylint
pyEX==0.1.5
recommonmark
redis
seaborn
sphinx
sphinx-autobuild
sphinx_rtd_theme
spylunking
tabulate
trading_calendars
unittest2
urllib3<=1.23
ujson
